* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrap-half {
  width: 50%;
  flex: 0 0 auto;
}
.wrap-half img {
  border-radius: 50%;
  width: 10%;
  margin: auto;
  padding: 0.6 em;
  box-shadow: 0 0 10 rgba(37, 33, 33, 0.1);
}
.container {
  text-align: center;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 50%;
  width: 80%;
  margin: auto;
}
.prosto img {
  align-content: center;
  border-radius: 50%;
  width: 120%;
  margin: auto;
}
footer {
  text-align: center;
}
